ffmpeg_python==0.2.0
scikit_image==0.17.2
scipy==1.5.2
h5py==2.10.0
tqdm==4.50.2
joblib==0.17.0
hdbscan==0.8.26
numpy==1.19.1
matplotlib==3.3.2
randfacts==0.2.4
imageio==2.9.0
psutil==5.7.2
streamlit==0.71.0
seaborn==0.11.0
opencv_python==4.4.0.44
networkx==2.5
umap_learn==0.4.6
pandas==1.1.3
bhtsne==0.1.9
ffmpeg==1.4
scikit_learn==0.23.2
skimage==0.0
umap==0.1.1
